
/*

File:		eqtr_print.css
Created:	18/03/2018
Author:		Cleyra Uzcategui

Notes:


*/

@tailwind preflight;

@tailwind components;

@tailwind utilities;

.main-container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 80px;
  border-radius: 25px; 
}

body {
  background-image: linear-gradient(white, green);
}
