
/*

File:		eqtr_print.css
Created:	18/03/2018
Author:		Cleyra Uzcategui

Notes:


*/

@tailwind preflight;

@tailwind components;

@tailwind utilities;

.main-container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 80px;
  border-radius: 25px;
}

body {
  background-image: linear-gradient(#F1F3D0, #E5EAA9);
}

.logo {
  height: 100px;
}

.tabs {
	display: flex;
	flex-wrap: wrap; // make sure it wraps
}
.tabs label {
	order: 1; // Put the labels first
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
  background: green;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99; // Put the tabs last
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: green;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
